# Environment variables for the Arkyc API application
# Allowed values for API_ENV: development, staging, production
VITE_API_ENV="development" # development | stagging | prod

# Environment mode for the application, can be used to conditionally enable features or logging
# Allowed values for MODE: development, testing, production
VITE_APP_ENV=testing

# Base URL for the API, can be overridden by specific environment URLs
VITE_DEV_API_URL="http://localhost:3100"
VITE_STAGING_API_URL="https://api.staging.arkyc.toneflix.net"
VITE_PROD_API_URL="https://api.staging.arkyc.toneflix.net"

VITE_API_URL="https://api.arkyc.toneflix.net"

# Android push registration requires Firebase to be configured with src-capacitor/android/app/google-services.json
VITE_ANDROID_PUSH_ENABLED=true
